<h2>Import Keywords</h2>

<%= form_tag keywords_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>



<h1>KEYWORDS</h1>

<table>
  <tr>
    <th>Query</th>
    <th>Impressions</th>
    <th>Clicks</th>
    <th>CTR</th>
    <th>Avg, Position</th>
    <th>Date</th>
    <th>New ?</th>
  </tr>

<% for keyword in @keywords %>
  <tr>
    <td><%=h keyword.query %></td>
    <td><%=h keyword.impressions %></td>
    <td><%=h keyword.clicks %></td>
    <td><%#= link_to 'Destroy', post, :confirm => 'Are you sure?',
            :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />