<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Visibility (current)</th>
                <th>Traffic</th>
                <th>Average CTR</th>
                <th>Average Position</th>
            </tr>
        </thead>
        <tbody>
            <% lost_rankings(@keywords_1).each_with_index do |val, index| %>
              <% imp, clicks, ctr, avg_position = collect_datas(val[1]) %>
              <% s_imp, s_clicks, s_ctr, s_avg_position = s_collect_datas(val[0], @keywords_2) %>
              <tr>
                <td><%= val[0] %></td>
                <td><%= imp %> <br> Impressions <br> +<%= s_imp %> <br> ( <%= compare_result(imp, s_imp) %> )</td>
                <td><%= clicks %> <br> Clicks <br> +<%= s_clicks %> <br> ( <%= compare_result(clicks, s_clicks)%> )</td>
                <td><%= ctr %> <br> +<%= s_ctr %> <br> ( <%= compare_result(ctr, s_ctr)%> )</td>
                <td><%= avg_position %> <br> +<%= s_avg_position %><br> (<%= compare_result(avg_position, s_avg_position)%>)</td>
              </tr>
            <%end%>
        </tbody>
    </table>
</div>